{% extends 'PasheduCompanyBundle::base.html.twig' %}

{% block title %}Наші Контакти{% endblock %}

{% block body%}
    <p>Приєднуйтесь до нас!<a href="https://www.facebook.com/softgroup/" target="_blank"><span class="glyphicon glyphicon-hand-right"></span></a></p>
{% endblock %}