<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Welcome!</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
hello mouse {{ mouse }}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<p>LogOut: <a href="logout" >{{ app.user.username }} </a></p>
{% endif %}
</body>
</html>
